.Home{
    width: 88%;
    height:641px;
    margin-top: -12px;    
    background-color: #13a487;

}
.Home>h1{
text-align: center;
padding-top: 22% ;
padding-left: 5%;
color: white;
font-family: sans-serif;

}