.item-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.product-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    margin-left: 6%;
}

.product-images img {
    width: 100px;
    height: 140px;
    object-fit: cover;
    cursor: pointer;
}

.product-images img:hover {
    border: 1px solid tomato;
}

.product-logo {
    display: flex;
    overflow: hidden;
    margin-left: 1%;
    margin-top: 4%;
    position: relative;
    width: 100%;
}

.Discount {
    position: absolute;
    top: 18px;
    right: 38px;
    background-color: #000;
    color: #fff;
    width: 55px;
    height: 55px;
    font-size: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-logo img {
   width: 100%;
   height:140%;
}


.product-detail {
    width: 140%;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-right: 10px;
    margin-top: -22%;
    padding-left: 2%;
    line-height: 2.5;
}

.product-detail-0 {
    display: flex;
    justify-content: space-between;
 
    width: 100%;
}
.product-detail-0 h2{
    font-weight: 600;
    font-size: 32px;
}
.product-detail-0 p {
    font-size: 16px;
    font-weight: 600;
}
.product-detail-0  span {
    font-weight: 600;
}
.product-detail-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-detail-1 .id-1 {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.product-detail-1 .id-2:hover {
    color: red;
}

.product-detail-2 p {
    font-size: 18px;
}

.product-detail-3 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.product-detail-3 .id-3 {
    font-size: 24px;
    font-weight: 700;
}

.product-detail-3 .id-4 {
    font-size: 24px;
    text-decoration: line-through;
}

.product-detail hr {
    margin-top: 10px;
}

.product-detail button {
    background-color: red;
    color: white;
    border: none;
    font-size: 13px;
    width: 100px;
    height: 38px;
    margin-top: 20px;
}

.product-detail button:hover {
    background-color: black;
}

.product-detail-4 {
    width: 80%;
    height: 130px;
    border: 1px solid red;
    margin-left: 20%;
    padding: 1%;
}
.delivery_note h3 {
    font-weight: 500;
    font-size: 24px;
    color: red;
}
.delivery_note p
{
    font-weight: 300;
    font-size: 18px;
    color: grey;
}

.product-detail-7 {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.product-detail-7 .add-minus {
    display: flex;
    align-items: center;
}

.add-minus div {
    border: 1px solid rgb(148, 143, 143);
    width: 80px;
    height: 60px;
}

.add-minus .minus p {
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
   
    cursor: pointer;
}

.add-minus .count p {
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
   
    cursor: pointer;
}

.add-minus .plus p {
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
   
    cursor: pointer;
}

.product-detail-7 .add-button {
    
    width: 70%;
    height: 60px;
    text-align: center;
    background-color: #2b2a2a;
    padding: 10px 0;
    cursor: pointer;
}

.product-detail-7 .add-button h5 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.product-detail-7 .add-button:hover {
    background-color: black;
}

