
.Header{
    width: 100%;
    height: 100px;
    box-shadow: 0 1x 3px -2px #000;
}
.Header  img{
    height: 50px;
    margin-top: 5px;
    width: max-content;
}
.Header img:hover{
    cursor: pointer;
}
.Header-img{
    margin-left: 40%;
    margin-top: 0px;
}
.Header-heading{
    margin-left: 49%;
    margin-bottom: -8px;
}
.Header  h1{
    font-size: 22px;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
}