.Item{
    
    padding: 10px;
    gap: 100;

}
.Item:hover{
    cursor: pointer;
    transition: 0.8s;
    transform:scale(1.1) ;
}
.Item-image img{
    height: 340px;
    width: 320px;
}
p{
    margin-bottom: 6px;
}
.Item-title p{
    font-size: 16px;
    font-weight: 400;
    
}
.Item-price p{
    font-size: 16px;
 font-weight: 600;   
}
.disapear{
    display: none;
}